* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

/* Typography */

h1, h2, h3, h4, p{
    font-family: "Times New Roman", sans-serif;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.7rem;
}

h4, p {
    font-size: 1.4rem;
}

/*Image max width set to 100%*/

img {
    max-width: 100%;
}

/*Hero CSS*/

.hero {
    height: auto;
    background-image: url(../img/hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    padding: 15em 0em;
}

.hero-content h1 {
    text-transform: uppercase;
}

.hero-content p {
    text-align: center;
}

.hero-content-mobile {
    display: none;
}

.hero-content-mobile h1 {
    text-transform: uppercase;
}

.hero-content-mobile p {
    text-align: center;
}


/*Services CSS*/
.services {
    display: flex;
    min-height: 400px;
    margin: 0 auto;
}

.services-left {
    flex: 1 1 50%;
    background-image: url(../img/productimage.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 3px solid red; */
}

.services-right {
    flex: 1 1 50%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid blue; */
}

.services-right h2 {
    text-align: center;
}

.services-right p {
    text-align: center;
    margin-top: 2em;
}

/*Fixed image css*/

.fixed-image {
    display: flex;
    min-height: 700px;
    margin: 0 auto;
}

.fixed-image-left {
    flex: 1 1 50%;
    background-image: url(../img/effects1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fixed-image-right {
    flex: 1 1 50%;
    background-image: url(../img/effects2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*How to Step 1, 2, 3 CSS */

.steps-container{
    display: flex; 
}

.steps {
    flex: 1 1 33.33%;
    padding: 2em 2em;

    display: flex;
    flex-direction: column;
}

.steps h3 {
    text-align: center;
    color: #afc7e2;
    background-color: #dfeefd;
    padding: .5em 0em;
}

.steps img {
    width: 100%;
}

.steps p {
    text-align: left;
    line-height: 1.6;
    background-color: #dfeefd;
    padding: 1em 1em;
    min-height: 200px;
}

.bold-text {
    font-weight: 700;
}

.titleforsteps h2 {
    padding: 1em 0em;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
}

/*Products Css*/
.products {
    display:flex;
}

.product-cta {
    flex: 1 1 25%;
    padding: 2em 4em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 200px;
}

.product-cta img {
    width: 100%;
}

.product-volume {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}


.btn {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 20px;
    text-align: center;
    color: #fff;
    padding: 1em 2em;
    background-color: #000000;
}

/*Media Query*/

@media (max-width:950px) {

    .hero {
        background-position: left center;
    }

    .hero-content h1, .hero-content p {
        display: none;
    }

    .hero-content-mobile {
        display: block;
        padding-bottom: 20px;
    }

    .hero-content-mobile h1 {
        padding: .5em 0em;
    }


    .steps {
        flex: 1 1 100%;
        padding: 3em 8em;
    }
    
    .fixed-image {
        min-height: 800px;
    }

    .services {
        flex-direction: column;
    }

    .services-left {
        min-height: 300px;
    }

    .fixed-image {
        flex-direction: column;
    }

    .steps-container {
        flex-direction: column;
    }

    .product-cta {
        flex-basis: 50%;
    }

    .products {
        flex-wrap: wrap;
    }
}

@media (max-width:575px) {

    .steps {
        padding: 1.5em 3em;
    }
}